body{
    background-image: url(bg-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ;
    background-position: center;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}
#upper-header{
    text-align: center;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.813);
    width: 400px;
    height: 540px;
    border-radius: 15px;

}
#logo{
    margin: 10px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
}
#greeting{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:5px;    
    font-weight: 600;
}
#subcontent{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0; 
    color: rgb(80, 80, 80);
}
#signin-logos{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin:20px;
    align-items: center;

}
#go, #ap, #tw{
    background-color: white;
    padding: 10px;
    border-style:dashed;
    border-width: 2px;
    border-radius: 10px;
    border-width: 2px;
    cursor: pointer;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;

}
#go:hover, #ap:hover, #tw:hover{
    background-color: white;
    padding: 10px;

    border-width: 2px;
    border-radius: 10px;
    border-width: 2px;
    cursor: pointer;
    border-color: black;
    display: flex;
    align-items: center;
    border-style: double;
    justify-content: center;
    transform: scale(1.1) ;

}
/* i dont know what is this*/
#text-with-line{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin :5px auto;
    font-size:small;
    color: rgb(120, 120, 120);

}
#text-with-line::before,
#text-with-line::after {
  content: "";
  flex: 1;
  border-top: 1px solid rgb(180, 180, 180);
}


#form-container{
    margin:5px;
    padding: 1px;
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: auto;
}
#labelemail, #passwordlabel{
    display: flex;
    align-self: flex-start;
    align-items:start ;
    margin-bottom: 5px;
    font-size: medium;
    font-weight: 600;
}
#email, #password{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-style: dashed;
    font-size: medium;
    box-sizing: border-box;
    margin-bottom: 5px;    
    width: 350px;
    border-color: rgb(0, 0, 0);
    transition: ease-in 0.3s;
}
#email:hover, #password:hover{
    border-color: rgb(0, 0, 0);
    transform: scale(1.1);
    border-style: solid;

}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#signin-button{
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 150px;
    
    color:white;
    background-color: black;
    transition: ease-in 0.3s;
    cursor: pointer;
}
#signin-button:hover{
    background-color: rgb(255, 255, 255);
    border-color:black;
    color:black;    
}
#footer{

    display: flex;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(80, 80, 80);
    cursor: default;
    color: black;
}